<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Verify Your Email</title>
</head>
<body style="margin:0; padding:0; background-color:#f0eeeb; font-family:Roboto, sans-serif;">

<table role="presentation" style="background-color: #f0eeeb; border-collapse: collapse;" width="100%">
    <tr>
        <td align="center" style="padding: 40px 20px;">
            <!-- Card -->
            <table role="presentation"
                   style="max-width: 600px; background-color: #fbfafa; border-radius: 4px; padding: 0; border-collapse:
                   collapse;"
                   width="100%">
                <tr>
                    <td style="padding: 40px;">
                        <!-- Logo -->
                        <div style="text-align: center; padding-bottom: 40px;">
                            <img alt="Logo" src="cid:loop-logo" style="display: block; margin: 0 auto;"
                                 width="70"/>
                        </div>

                        <!-- Title -->
                        <div style="text-align: center; font-size: 24px; font-weight: bold; color: #222222;
                        padding-bottom: 30px; ">
                            Reset Your Password
                        </div>

                        <!-- Greeting -->
                        <div style="font-size: 16px; color: #333333; line-height: 1.6; padding-bottom: 40px;">
                            <p style="margin: 0 0 12px 0;">Hi <span th:text="${firstName}">there</span>,</p>
                            <p style="margin: 12px 0 0 0;">You recently requested to reset your password. Here’s your
                                6-digit code:</p>
                        </div>

                        <!-- CTA Button -->
                        <div style="text-align: center; padding-bottom: 40px">
                            <div style="background-color: #3C443F; color: #ffffff; text-decoration: none; font-weight:
            bold; letter-spacing: 4px; padding: 14px 120px; border-radius: 4px; display:
            inline-block;"
                                 th:text="${code}">
                            </div>
                        </div>

                        <!-- Expiry Note -->
                        <div style="text-align: center; font-size: 12px; color: #797C7E; ">
                            This code expires in 15 minutes.
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>
